





<section class="intro">
</section>
<div>

<div class='moving-text'>
  <div class='visible'>
    <p>
      Climb
    </p>
    <ul>
      <li>Bishop </li>
      <li>Yosemite </li>
      <li>California </li>
    </ul>
  </div>
  </div>
  <div class='login-form'>
  <form  action="/session" method="POST">
    <h1>Welcome Back</h1>
    <%= auth_token %>
    <div class="input-group">
    <i class="email fa fa-envelope-o fa-1x"></i>
      <input placeholder='Email' type="text" id='email' name='user[email]'>
    </div>

    <div class="input-group">
      <i class="lock fa fa-lock fa-1x"></i>
      <input placeholder='Password' type="password" id='password' name='user[password]'>
    </div>

     <button type="submit" class="form-button hover-button">Sign in</button> 
     <span> or create an account <%= link_to "Sign up here", new_user_url %> </span>
  </form>
     <div id='demo-button'></div>
</div>

</div>


