

// *,
// *:after,
// *::before {
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
// }
body {  font-family: 'Raleway', sans-serif;
}
p{font-family: 'Lato',Arial,sans-serif;}


#mainNav {
  line-height: 50px;
  padding: 0;
    display: inline-block;
   background-color: #3fa46a;
  height: 50px;
  color: white;
  width:100%;
  box-shadow: 1px 1px 0px #999;
}

#mainNav h5 {
    width: auto;
    float: left;
    line-height: 50px;
    height: 50px;
    margin: 0 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

#mainNav ul.nav-left {
  list-style: none;
  float: left;
  padding: 0;
  margin: 0;
  line-height: 20px;
  top: 50%;
  position: relative;
  transform: translateY(-50%);

}

#mainNav .nav-left li {
  float: left;
  padding-right: 20px;
}
#mainNav .nav-right {
  float:right;
}

#mainNav .drop-toggle {
  margin-right: 20px;
}

#mainNav .nav-right ul {
    width: 100%;
    background: #3fa46a;
    float: left;
    padding: 0;
    list-style: none;
    z-index: 100;
}

#mainNav .nav-right ul.active {
  display: block;
  margin: -4px;
}

#mainNav .nav-right ul.inactive {
  display: none;
} 

#mainNav .nav-right li {
  padding: 5px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #aaa;
  font-size: 15px;
}

.drop-toggle  span {
  dispaly: inline-block;
  margin-right: 5px;
}

#mainNav .nav-right li:hover {
    background: #6ac691;
}

#mainNav a {
    position: relative;
    outline: none;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 14px;
}
