/* User Index Styles */


.explorer-header img {
  width: 100%

}

.explorer-header h3 {
    position: absolute;
    font-weight: bold;
    color: white;
    right: 5%;
    top: 50%;
    font-size: 3em;
}

.user-container {
  width: 100%
}
.expolrer-header {
  width: 100%;
}

.user-index-card {
  display: inline-block;
  position: relative;
  width: 100%;
}

.user-index-card img {
  width: 100%;
}

.user-index-card .caption {
    position: absolute;
    float: left;
    top: 0;
    padding: 10px;
    background: rgba(0,0,0,.3);
}


.user-index-card .caption h5 {
  font-size: 15px;
    font-weight: bold;
    color: white;

}

.user-index-card .buttons {
    position: absolute;
    bottom: 0;
    padding: 10px;
    right: 0;
}