/* Checkbox */

.checkbox input[type=checkbox] {display:none;}

.checkbox span {
border:2px solid #3fa46a;
border-radius:50px;
font-weight:600;
color: black;
font-size:0.9em;
letter-spacing:1px;
text-decoration:none;
text-align:center;
width:100%;
height:40px;
line-height:40px;
cursor:pointer;
display:inline-block;
transition:background-color 150ms ease-in;
}

.checkbox span:hover {
background-color: #3fa46a;
color:#fff;
}

.checkbox input[type=checkbox]:checked + span {
  text-decoration:none;
  background: #3fa46a url("http://www.clipartbest.com/cliparts/M9c/468/M9c468KTE.png")
  no-repeat left;
  background-size: 20%;
  border-radius:50px;
}

.checkbox input[type=checkbox]:checked + span:hover {
  color:#fff;
  text-decoration:none;

    background: #3fa46a url("http://www.downloadclipart.net/medium/1827-checkmark-clip-art.png") no-repeat left;
    background-position: 10px;
    background-size: 10%;
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
}