/* User Index Styles */


.explorer-header img {
  width: 100%

}

.user-container {
  width: 100%
}
.expolrer-header {
  width: 100%;
}

.user-index-card {
  display: inline-block;
  position: relative;
  width: 100%;
}

.user-index-card img {
  width: 100%;
}

.user-index-card .caption {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.user-index-card .description {
    position: absolute;
    bottom: 0;
}
.user-index-card .caption h5 {
  float:left;
  padding:5px;
  font-weight: bold;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  background: rgba(0,0,0,.4);
}

.user-index-card .buttons {
  float: right;
  padding: 10px;
}