
<section class="intro">
</section>

<div class='moving-text'>
  <div class='visible'>
    <p>
      Climb
    </p>
    <ul>
      <li>Bishop </li>
      <li>Yosemite </li>
      <li>California </li>
    </ul>
  </div>
  </div>
<form class='login-form' action="/users" method="POST">
<h1>Find Adventure</h1>
  <%= auth_token %>
  <div class="input-group">
    <i class="user fa fa-user fa-1x"></i>
    <input type="text" placeholder='Name' id='name' name='user[name]'>
  </div>

  <div class="input-group">
    <i class="email fa fa-envelope-o fa-1x"></i>
    <input type="text" placeholder='Email' id='email' name='user[email]'>
  </div>

  <div class="input-group">
    <i class="lock fa fa-lock fa-1x"></i>
    <input type="password" placeholder='Password' id='password' name='user[password]'>
  </div>
  
   <button type="submit" class="form-button hover-button">Join the Community</button>
   <span> Already a user? <%= link_to "Sign in here", new_session_url %> </span>
</form>