.adventure-card {
  
  width: 100%;
  position: relative;
  
}

.adventure-card .card-caption {
    position: absolute;
    width: 100%;
    z-index: 4;
    bottom: 0;
}

.card-caption .description {
    float: left;
    text-align: center;
    vertical-align: middle;
    background: rgba(0,0,0,.4);
    color: white;
    padding: 5px;
}

.adventure-card .thumbnail-title,
.adventure-card .thumbnail-local {
      margin: 0
}

.adventure-card img {
  width: 100%;
}

.adventure-card .buttons {
    float: right;
    position:absolute;
    z-index: 10;
    bottom: 5%;
    right: 5%;
}

.adventure-card .save-button, 
.adventure-card .list-button {
      float: right;
      z-index:50;
    padding: 10px;
}

.adventure-index .distance {
    position: absolute;
    top: 5%;
    left: 5%;
}
