/* Adventure Show */


.adventure-main {
  clear: both;
}
.adventure-main section > div.panel-heading {
  background: #3fa46a;
  color: white;
}

.adventure-main .show-map {
  width: 100%;
  height: 250px;
}

.adventure-main .map {
    width: 100%;
    padding: 20px;
    margin: 20px auto;
}

.image-viewer {
  width: 80%;
  margin: 20px auto;
}

.image-viewer .main-image {
    height: 500px;
    margin: 0 auto;
    width: auto;
    text-align: center;
    clear: both;
}
.image-viewer .main-image img {
  height: 100%;
  box-shadow: 1px 1px 6px #666;
}

.image-viewer .thumbnail-bar {
  height: 110px;
  margin-bottom: 15px;
  width: 700px;
  overflow: hidden;
  margin: 0 auto;
  
  box-shadow: 1px 1px 5px #999;
}

.image-viewer .thumbnail-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.image-viewer img.thumbnail-bar-img {
  width: 175px;
  float: left;
}

.image-viewer img.thumbnail-bar-img.masked {
    opacity: .5;
}

.thumbnail-wrapper .left-arrow,
.thumbnail-wrapper .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.thumbnail-wrapper .left-arrow {
    left: -10%;
}

.thumbnail-wrapper .right-arrow {
    right: -10%;
}

.padge-header {
  background-color: #eee;
  box-shadow: 1px 1px 5px black;
  margin-bottom: 20px;
}
.page-header h1 {
  font-weight: bold;
}

.adventure-show .adventure-average {
  float: left;
}
.adventure-show .save-button,
.adventure-show .list-button {
  float: right;
  padding: 5px;
}
.adventure-show .buttons {
  float: right;
}

