/* search input */

/* search input */

.search-group {
  position: relative;
  margin-bottom: 15px;
}

.search-params .filter-dropdown {
    float: left;
    margin: 0 10px;

}
.search-params .filter-dropdown label {
  display: block;
}

.search-params .filter-dropdown select {
      box-shadow:         inset 0 0 5px rgba(0, 0, 0, 0.1), 
                        0 1px 0 rgba(255, 255, 255, 0.5), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.3), 
                        0 0 40px rgba(255, 255, 255, 0.3);
    border: none;
    height: 60px;
    border-left: 6px solid #ddd;
    width: 200px;
}

.search-params option {
  padding: 5px;
}