
#main-content {
  width: 80%;
  margin: 20px auto
}

.adventure-index {
  position: relative;
}
.search-map > .map {
  width: 100%;
  height: 900px;
}

.search-params {
  padding: 10px 
}
.search-params select {
  height:20px;
}

/* search input */

.search-group {
  position: relative;
  float:left
}

.search-group label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  }

 input.search-input {
    background: transparent;
    background: rgba(163, 135, 106, 0.15);
    background-clip: padding-box;
    
    border: none;
    border-radius:         26px;
    -moz-border-radius:    26px;
    -o-border-radius:      26px;
    -webkit-border-radius: 26px;
    
    box-shadow:         inset 0 0 5px rgba(0, 0, 0, 0.1), 
                        0 1px 0 rgba(255, 255, 255, 0.5), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.3), 
                        0 0 40px rgba(255, 255, 255, 0.3);
    
    color: #333;
    height: 26px;
    outline: none;
    padding: 0 20px 0 35px;
    margin:10px;
    transition:         all .1s linear;
    -moz-transition:    all .1s linear;
    -o-transition:      all .1s linear;
    -webkit-transition: all .1s linear;
    
    width: 250px;
}


input.search-input:focus {
    background: transparent;
    background: rgba(163, 135, 106, 0.2);

    box-shadow:         inset 0 0 5px rgba(0, 0, 0, 0.2), 
                        0 1px 0 rgba(255, 255, 255, 0.7), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                        0 0 40px rgba(255, 255, 255, 0.5); 
}





/* Modal List Form */


  .modal.is-active {
    display: block;
  }
  .modal-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(255, 255, 255, 0.6);
  }
  .modal-content {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 50px;
    margin-left: -250px;
    transform: translateY(-50%);
    background: white;
    border-radius: 5px;
  }
  .modal-close {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color: gray;
  }
  .modal-close:hover {
    color: black;
  }



/* Masonry container */

.masonry { 
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
    -moz-column-gap: 10px; /* Firefox */
    column-gap: 10px;
}

.adventure-index-item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.cf:after {
  display: block;
  clear: both;
  content: ""
}

/* Adventure Show Page */

.adventure-show .row-images {
  width: 100%;
}

.adventure-show button.feature {
  margin: 5px;
}

/* Form */
.image-upload-holder {
  background-image: url('http://www.mountainproject.com/images/26/4/105952604_large_aecb07.jpg');
  background-size: cover;
  color: white;
  cursor: pointer;
  height: 300px;
}

.adventure-form .form-map {
  width: 100%;
  height: 200px;
  margin: 30px auto;
}

.thumbnail-container img {
    margin-bottom: 20px;
    width: 20%;
    float: left;
    margin-top: -10px;
    box-shadow: 1px 1px 1px #999;
    border-radius: 20px;
}

/* Reviews */

img.profile_pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.review {
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.review .user-info {
    border-right: 1px solid lightgrey;
    width: 120px;
    padding: 10px;
    text-align: center;

}

.review .review-content {
    vertical-align: middle;
    line-height: 100px;
    font-weight: bold;
    font-size: 20px;
}

/* Dropdown Styles */

.dropdown ul {
  list-style: none;
  margin: 0;
  padding:5px;
  float:left;
}

/* star rating */

.star-rating {
  list-style: none;
  padding:0px;
}

.star-rating li {
  padding:2px;
  float: left;
  size: 20px;
  color: #EEC900;
  text-shadow: 0px 0px 1px #ccc;
}

/* User Show */
.user-profile h1 {
    display: inline-block;
    vertical-align:center;
}

.page-header {
  text-align: center;
}


.user-profile img {
  display: inline-block;
  margin-right: 10px;
}

/* User Index */

.explorer-header {
  box-shadow: 0px 3px 10px #999;
  margin-bottom: 20px;
  position: relative;
}

/* User Feed */



