body {
  font-family: 'Muli', 'Arial'
}
#main-content {
  width: 80%;
  margin: 20px auto
}

.adventure-index {
  position: relative;
  width: 60%;
  float: left;
  padding: 10px
}

.search-map {
  float: right;
  width: 40%;
  border-style: ridge;
}

.search-map > .map {
  width: 100%;
  height: 900px;
}

.search-params {
  padding: 10px;
  width: Calc(40% - 10px);
  float: left;

}
.search-params select {
  height:20px;
}

.tags-display {
  float: right;
  width: Calc(60% - 10px);
  padding: 10px
}

.card {
  margin-bottom: 20px;
  box-shadow: 1px 1px 10px #888;
}

/* General User Index Styles */

.user-search {
  float: left;
  width: 25%;
  padding: 15px;
}

.user-index {
  width: 75%;
  float: right;
  padding: 10px;
}

.user-index-masonry {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
    -moz-column-gap: 10px; /* Firefox */
    column-gap: 10px;
    width: 100%;
}

.user-show-masonry {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
  -moz-column-gap: 10px; /* Firefox */
  column-gap: 10px;
  width: 60%;
}

.user-feed-masonry {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
  -moz-column-gap: 10px; /* Firefox */
  column-gap: 50px;
  width: 100%;
}


.list-adventures-masonry {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
  -moz-column-gap: 10px; /* Firefox */
  column-gap: 10px;
  width: 100%;
}

.user-list-masonry {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
  -moz-column-gap: 10px; /* Firefox */
  column-gap: 10px;
  width: 100%;
}

/* Search Input */ 

 input.search-input {
    background: transparent;
    background: rgba(163, 135, 106, 0.15);
    background-clip: padding-box;
    
    border: none;
    border-radius:         26px;
    -moz-border-radius:    26px;
    -o-border-radius:      26px;
    -webkit-border-radius: 26px;
    
    box-shadow:         inset 0 0 5px rgba(0, 0, 0, 0.1), 
                        0 1px 0 rgba(255, 255, 255, 0.5), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.3), 
                        0 0 40px rgba(255, 255, 255, 0.3);
    
    color: #333;
    height: 26px;
    outline: none;
    padding: 0 20px 0 35px;
    margin:10px;
    transition:         all .1s linear;
    -moz-transition:    all .1s linear;
    -o-transition:      all .1s linear;
    -webkit-transition: all .1s linear;
    
    width: 230px;
}


input.search-input:focus {
    background: transparent;
    background: rgba(163, 135, 106, 0.2);

    box-shadow:         inset 0 0 5px rgba(0, 0, 0, 0.2), 
                        0 1px 0 rgba(255, 255, 255, 0.7), 
                        inset 0 1px 2px rgba(0, 0, 0, 0.4), 
                        0 0 40px rgba(255, 255, 255, 0.5); 
}

.search-group label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  }

/* Tag Styles */

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #3fa46a;
  color: white;
}

.tag:hover::after {
   border-left-color: #3fa46a; 
}

/* General link over effect */
.cl-effect-4 a:hover,
.cl-effect-4 a:focus {
    outline: none;
    cursor: pointer;
}

/* Effect 4: bottom border enlarge */
.cl-effect-4 a {
    padding: 0 0 2px;
    font-size: 12px;
}

.cl-effect-4 a::after,
.cl-effect-4.active a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after,
.cl-effect-4.active a::after {
    height: 2px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}


/* Modal List Form */


  .modal.is-active {
    display: block;
  }
  .modal-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(255, 255, 255, 0.3);
  }
  .modal-content {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 50px;
    margin-left: -250px;
    transform: translateY(-50%);
    background: white;
    border-radius: 5px;
  }
  .modal-close {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color: gray;
  }
  .modal-close:hover {
    color: black;
  }



/* Masonry container */

.masonry { 
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 10px; /* Chrome, Safari, Opera */
    -moz-column-gap: 10px; /* Firefox */
    column-gap: 10px;
}

.card { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 15px 0;
    width: 100%;
}

.cf:after {
  display: block;
  clear: both;
  content: ""
}

/* Adventure Show Page */

.adventure-show .row-images {
  width: 100%;
}

.adventure-show button.feature {
  margin: 5px;
}

/* Form */
.image-upload-holder {
  background-image: url('http://www.mountainproject.com/images/26/4/105952604_large_aecb07.jpg');
  background-size: cover;
  color: white;
  cursor: pointer;
  height: 300px;
}

.adventure-form .form-map {
  width: 100%;
  height: 200px;
  margin: 30px auto;
}

.thumbnail-container img {
    margin-bottom: 20px;
    width: 20%;
    float: left;
    margin-top: -10px;
    box-shadow: 1px 1px 1px #999;
    border-radius: 20px;
}

/* Reviews */

img.profile_pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.review {
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.review .user-info {
    border-right: 1px solid lightgrey;
    width: 120px;
    padding: 10px;
    text-align: center;

}

.review .review-content {
    vertical-align: middle;
    line-height: 100px;
    font-weight: bold;
    font-size: 20px;
}

/* Dropdown Styles */

.dropdown ul {
  list-style: none;
  margin: 0;
  padding:5px;
  float:left;
}

/* star rating */

.star-rating {
  list-style: none;
  padding:0px;
}

.star-rating li {
  padding:2px;
  float: left;
  size: 20px;
  color: #EEC900;
  text-shadow: 0px 0px 1px #ccc;
}

/* User Show */
.user-profile h1 {
    display: inline-block;
    vertical-align:center;
}

.page-header {
  text-align: center;
}


.user-profile img {
  display: inline-block;
  margin-right: 10px;
}

/* User Index */

.explorer-header {
  box-shadow: 0px 3px 10px #999;
  margin-bottom: 20px;
  position: relative;
}

/* User Feed */



