
#main-content {
  width: 80%;
  margin: 20px auto
}

.adventure-index {
  position: relative;
}
.search-map > .map {
  width: 100%;
  height: 900px;
}

.search-params {
  padding: 10px 
}
.search-params select {
  height:20px;
}

/* login page */
img.bg {
  position: fixed;
  width: 100%;
  height: auto;
}

.login-overlay {
  z-index: 999;
  background-color: rgba(0,0,0,.4);
  position: fixed;
  height:100%;
  width:100%;
}

.login-form {
  position: fixed;

}

/* Index Item Pages */

img {
  width: 100%;
}
.adventure-card {
  position: relative;
  box-shadow: 2px 2px 7px #ddd
}

.adventure-card .card-caption {
  position: absolute;
    transform: translateY(-120%);
    padding: 10px;
    margin: 10px;
    color: white;
    line-height: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}
.adventure-card .card-caption h4 {
  margin: 5px;
}
.adventure-card .save-button {
  position:absolute;
  top:6%;
  right:5%;
}

.adventure-card .distance {
  position: absolute;
  left: 5%;
  top: 5%;
}

.cf:after {
  display: block;
  clear: both;
  content: ""
}

/* Adventure Show Page */

.adventure-show .row-images {
  width: 100%;
}

.adventure-show button.feature {
  margin: 5px;
}

/* Form */
.image-upload-holder {
  background-image: url('http://www.mountainproject.com/images/26/4/105952604_large_aecb07.jpg');
  background-size: cover;
  color: white;
  cursor: pointer;
  height: 300px;
}

.adventure-form .form-map {
  width: 100%;
  height: 200px;
  margin: 30px auto;
}

/* Reviews */

img.profile_pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.review {
    border: 1px solid lightgrey;
    border-radius: 10px;
}
.review .user-info {
    border-right: 1px solid lightgrey;
    width: 120px;
    padding: 10px;
    text-align: center;

}

.review .review-content {
    vertical-align: middle;
    line-height: 100px;
    font-weight: bold;
    font-size: 20px;
}

/* Dropdown Styles */

.dropdown ul {
  list-style: none;
  margin: 0;
  padding:5px;
  float:left;
}

/* star rating */

.star-rating {
  list-style: none;
  padding:0px;
}

.star-rating li {
  padding:2px;
  float: left;
  size: 20px;
  color: #EEC900;
  text-shadow: 0px 0px 1px #ccc;
}

/* User Show */
.user-profile h1 {
    display: inline-block;
    vertical-align:center;
}

.page-header {
  text-align: center;
}


.user-profile img {
  display: inline-block;
  margin-right: 10px;
}

/* User Index */

.explorer-header {
  box-shadow: 0px 3px 10px #999;
  margin-bottom: 20px;
  position: relative;
}


