
#main-content {
  width: 80%;
  margin: 20px auto
}

.search-params {
  padding: 10px 
}
.search-params #search-input {
  width: 100%
}

/* Index Item Pages */

img {
  width: 100%;
}
.adventure-card {
  position: relative;
}
.adventure-card .card-caption {
  position: absolute;
    transform: translateY(-120%);
    padding: 10px;
    margin: 10px;
    color: white;
    line-height: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}
.adventure-card .card-caption h4 {
  margin: 5px;
}
.adventure-card .save-button {
  position:absolute;
  top:6%;
  right:5%;
}

.cf:after {
  display: block;
  clear: both;
  content: ""
}

/* Adventure Show Page */

.adventure-show .row-images {
  width: 100%;
}

.adventure-show button.feature {
  margin: 5px;
}

/* Form */
.image-upload-holder {
  background-image: url('http://www.mountainproject.com/images/26/4/105952604_large_aecb07.jpg');
  background-size: cover;
  color: white;
  cursor: pointer;
  height: 300px;
}

.adventure-form .form-map {
  width: 100%;
  height: 200px;
  margin: 30px auto;
}


/* Dropdown Styles */

.dropdown ul {
  list-style: none;
  margin: 0;
  padding:5px;
}

