
.errors {
  border: 2px solid red;
  text-align: center;
  margin: 10px 0 40px 0;
}
.errors ul {
  list-style: none;
  margin: 20px;
  padding: 0;
}

.errors li {
  color: red;
  font-size: 1.5em;
  font-weight: bolder;
}