.select-list .dropdown-toggle {
    color: #aaa;
    width: 100%;
    border: 2px solid #eee;
    font-family: "Muli";
    font-weight: bold;
    float:left;
}

.select-list .dropdown {
  width: 60%;
}

.select-list h4 {
  margin: 0;
  padding:5px;
}

.select-list .list-dropdown {
  position: absolute;
  top: 30px;
  width: 100%;
  background: white;
  border: 1px solid #eee;
}

.select-list button,
.create-list button {
  background-color: #5cb85c;
  border: none;
  color: white;
  width: 100%;
  padding: 5px;
}

.create-list input {
  width: 60%;
  float:left;
  padding: 5px;
}

.create-list button {
  float: right;
  width: 25%;
}
.select-list .new-list {
  float: right;
  position: absolute;
  right: -50%;

}


.select-list .add-list {
    width: 50%;
    margin: 20px auto;
}

.select-list .list-dropdown > div {
  border: 1px solid #eee;
  border-bottom: none;
}
.select-list .list-dropdown > div:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.select-list .list-dropdown > div:not(:first-child) {
  border-top: 1px solid #bbb;
}
.select-list .list-dropdown .checkbox {
  margin: 0;
  width: 100%;
}
.select-list .checkbox input[type=checkbox]:checked + span,
.select-list input[type='checkbox'] + span,
.select-list.checkbox input[type=checkbox]:checked + span:hover,
.select-list input[type='checkbox']:hover + span {
  border-radius: 0;
}
.select-list input[type='checkbox'] + span {
  margin: 0;
  border: 0;
  width: 100%;

}
