/* login page */


html,
body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.text {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  z-index: 10;
}


section.intro {
  background: url(http://www.siwallpaper.com/wp-content/uploads/2015/04/awesome_yosemite_desktop_wallpaper_hd_5.jpg) no-repeat top center;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 100%;
  -webkit-filter: blur(1px); -moz-filter: blur(1px); -o-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px);

}

.login-form {
  width: 40%;
  background: rgba(0,0,0,.4);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 50px 40px;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

.login-form .input-group {
  width: 100%
}
.login-form ::-webkit-input-placeholder {
 font-size: 14px;
 color: white;
 text-transform: uppercase;
 text-align: center;
 font-weight: light;
} 

.lock, .email, .user {
  color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 22%;
}

.login-form h1 {
    color: white;
    font-weight: lighter;
    font-family: sans-serif;
    letter-spacing: 2px;
    margin: 10px auto;
}

.login-form input {
  width: 100%;
    width: 60%;
    margin: 10px auto;
    padding-left: 25px;
    background-color: transparent;
    border: 1px solid #888;
    height: 30px;
    color: white;
    display: block;

}

.login-form .form-button {
  background-color: #5cb85c;
  border: none;
  color: white;
  width: 60%;
  margin: 15px auto;
}

.login-form span {
  display: block;
  color: white;
}
.login-form a {
  color: #399ab7;
}

.hover-button {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

.hover-button:hover, .hover-button:focus, .hover-button:active {
  box-shadow: 0 0 8px rgba(255,255,255, 0.8);
}

/* Moving Text */

.moving-text {
  width: 237px;
  font-size: 60px;
  line-height: 40px;
  font-family: 'Muli';
  color: white;
  height: 40px;
  position: absolute;
  top: 15%;
  left: 50%;
  
}
.moving-text:before {
  moving-text: '[';
  position: absolute;
  left: -30px;
  line-height: 40px;
}
.moving-text:after {
  moving-text: ']';
  position: absolute;
  right: -30px;
  line-height: 40px;
}
.moving-text:after,
.moving-text:before {
  color: #16a085;
  font-size: 42px;
  animation: 2s linear 0s normal none infinite opacity;
  -webkit-animation: 2s ease-out 0s normal none infinite opacity;
  -moz-animation: 2s ease-out 0s normal none infinite opacity;
  -o-animation: 2s ease-out 0s normal none infinite opacity;
}
.visible {
  position: absolute;
  float: left;
  font-weight: 600;
  overflow: hidden;
  transform: translateX(-50%);
  height: 80px;

}
.moving-text p {
  display: inline;
  line-height: 80px;
  float: left;
  margin: 0;
}
.moving-text ul {
  margin-top: 0;
  padding-left: 180px;
  text-align: left;
  list-style: none;
  animation: 6s linear 0s normal none infinite change;
  -webkit-animation: 6s linear 0s normal none infinite change;
  -moz-animation: 6s linear 0s normal none infinite change;
  -o-animation: 6s linear 0s normal none infinite change;
}
.moving-text ul li {
  line-height: 80px;
  margin: 0;
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes change {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 0;
  }
  25% {
    margin-top: -80px;
  }
  40% {
    margin-top: -80px;
  }
  50% {
    margin-top: -160px;
  }
  65% {
    margin-top: -160px;
  }
  75% {
    margin-top: -80px;
  }
  85% {
    margin-top: -80px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes change {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 0;
  }
  25% {
    margin-top: -80px;
  }
  40% {
    margin-top: -80px;
  }
  50% {
    margin-top: -160px;
  }
  65% {
    margin-top: -160px;
  }
  75% {
    margin-top: -80px;
  }
  85% {
    margin-top: -80px;
  }
  100% {
    margin-top: 0;
  }
}
