<!DOCTYPE html>
<html>
<head>
  <title>ClimbCalifornia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <%= yield %>

 <script type='text/javascript'
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ_sgavQ9DBPyxKfzqajJQAP_ktlE4gBw&libraries=places">
</script>
</body>
</html>
